Load the data

In [11]:
import pandas as pd
import numpy as np
import json
import io

In [39]:
import requests

url = f'https://eodhd.com/api/eod/SPY.US?from=2025-01-01&to=2025-12-9&period=d&api_token=6939c1ef27c0d3.92031458&fmt=json'
data2025 = requests.get(url).content

url = f'https://eodhd.com/api/eod/SPY.US?from=2024-01-01&to=2024-12-9&period=d&api_token=6939c1ef27c0d3.92031458&fmt=json'
data2024 = requests.get(url).content

url = f'https://eodhd.com/api/eod/SPY.US?from=2023-01-01&to=2023-12-9&period=d&api_token=6939c1ef27c0d3.92031458&fmt=json'
data2023 = requests.get(url).content

url = f'https://eodhd.com/api/eod/SPY.US?from=2022-01-01&to=2022-12-9&period=d&api_token=6939c1ef27c0d3.92031458&fmt=json'
data2022 = requests.get(url).content

url = f'https://eodhd.com/api/eod/SPY.US?from=2021-01-01&to=2021-12-9&period=d&api_token=6939c1ef27c0d3.92031458&fmt=json'
data2021 = requests.get(url).content

url = f'https://eodhd.com/api/eod/SPY.US?from=2020-01-01&to=2020-12-9&period=d&api_token=6939c1ef27c0d3.92031458&fmt=json'
data2020 = requests.get(url).content

dfs = [data2020, data2021, data2022, data2023, data2024, data2025]

In [46]:



df = pd.read_json(io.BytesIO(dfs[0]))

for d in dfs:
    Cdf = pd.read_json(io.BytesIO(d))
    print(Cdf.head(20))
    df = pd.concat([df, Cdf],axis=0)
    
df

        date    open   high     low  close  adjusted_close    volume  \
0 2024-12-10  605.37  605.8  602.13  602.8        595.5501  37234520

                                             warning
0  Data is limited by one year as you have free s...
        date    open   high     low  close  adjusted_close    volume  \
0 2024-12-10  605.37  605.8  602.13  602.8        595.5501  37234520

                                             warning
0  Data is limited by one year as you have free s...
        date    open   high     low  close  adjusted_close    volume  \
0 2024-12-10  605.37  605.8  602.13  602.8        595.5501  37234520

                                             warning
0  Data is limited by one year as you have free s...
        date    open   high     low  close  adjusted_close    volume  \
0 2024-12-10  605.37  605.8  602.13  602.8        595.5501  37234520

                                             warning
0  Data is limited by one year as you have free s...
        date    open   high     low  close  adjusted_close    volume  \
0 2024-12-10  605.37  605.8  602.13  602.8        595.5501  37234520

                                             warning
0  Data is limited by one year as you have free s...
         date     open      high      low   close  adjusted_close    volume
0  2025-01-02  589.390  591.1300  580.500  584.64        579.5526  50203980
1  2025-01-03  587.530  592.6000  586.430  591.95        586.7989  37888461
2  2025-01-06  596.270  599.7000  593.600  595.36        590.1793  47679441
3  2025-01-07  597.420  597.7500  586.780  588.63        583.5078  60393047
4  2025-01-08  588.700  590.5799  585.195  589.49        584.3603  47304672
5  2025-01-10  585.880  585.9500  578.550  580.49        575.4387  73105047
6  2025-01-13  575.770  581.7500  575.350  581.39        576.3308  47910059
7  2025-01-14  584.360  585.0000  578.350  582.19        577.1239  48420578
8  2025-01-15  590.325  593.9400  589.195  592.78        587.6217  56900160
9  2025-01-16  594.175  594.3500  590.930  591.64        586.4916  43319660
10 2025-01-17  596.960  599.3600  595.610  597.58        592.3800  58070633
11 2025-01-21  600.670  603.0600  598.670  603.05        597.8024  42532848
12 2025-01-22  605.920  607.8200  605.360  606.44        601.1629  48195969
13 2025-01-23  605.800  609.7500  605.520  609.75        604.4440  41152102
14 2025-01-24  609.810  610.7800  606.800  607.97        602.6795  34604688
15 2025-01-27  594.810  599.6900  594.640  599.37        594.1544  70361125
16 2025-01-28  600.620  605.3700  597.250  604.52        599.2596  44433320
17 2025-01-29  603.720  604.1300  599.220  601.81        596.5731  37177434
18 2025-01-30  603.960  606.6000  600.715  605.04        599.7750  39281262
19 2025-01-31  607.500  609.9600  601.050  601.82        596.5831  66671469

,date,open,high,low,close,adjusted_close,volume,warning
0,2024-12-10,605.37,605.800,602.13,602.80,595.5501,37234520,Data is limited by one year as you have free s...
0,2024-12-10,605.37,605.800,602.13,602.80,595.5501,37234520,Data is limited by one year as you have free s...
0,2024-12-10,605.37,605.800,602.13,602.80,595.5501,37234520,Data is limited by one year as you have free s...
0,2024-12-10,605.37,605.800,602.13,602.80,595.5501,37234520,Data is limited by one year as you have free s...
0,2024-12-10,605.37,605.800,602.13,602.80,595.5501,37234520,Data is limited by one year as you have free s...
...,...,...,...,...,...,...,...,...
230,2025-12-03,680.57,684.910,679.69,683.89,683.8900,57238480,NaN
231,2025-12-04,685.30,685.370,681.34,684.39,684.3900,61970340,NaN
232,2025-12-05,685.47,688.390,684.58,685.69,685.6900,79241047,NaN
233,2025-12-08,686.59,686.640,681.57,683.63,683.6300,55231461,NaN
234,2025-12-09,683.15,685.385,682.59,683.04,683.0400,58310055,NaN

In [50]:
url = f'https://eodhd.com/api/eod/SPY.US?period=d&api_token=6939c1ef27c0d3.92031458&fmt=json'
data = requests.get(url).content

Cdf = pd.read_json(io.BytesIO(data))
print(Cdf.head(20))
df = pd.concat([df, Cdf],axis=0)

         date     open      high       low   close  adjusted_close     volume
0  2024-12-10  605.370  605.8000  602.1300  602.80        595.5501   37234520
1  2024-12-11  605.780  608.4350  605.5000  607.46        600.1541   28677721
2  2024-12-12  606.580  607.1600  604.3300  604.33        597.0617   31543811
3  2024-12-13  606.400  607.1300  602.8100  604.21        596.9431   35904727
4  2024-12-16  606.000  607.7795  605.2100  606.79        599.4921   43695180
5  2024-12-17  604.190  605.1700  602.8850  604.29        597.0222   55773551
6  2024-12-18  603.980  606.4050  585.8900  586.28        579.2288  108248703
7  2024-12-19  591.360  593.0000  585.8500  586.10        579.0510   85919445
8  2024-12-20  581.770  595.7500  580.9100  591.15        586.0059  125716703
9  2024-12-23  590.890  595.3000  587.6610  594.69        589.5151   57635832
10 2024-12-24  596.060  601.3400  595.4700  601.30        596.0676   33160102
11 2024-12-26  599.500  602.4800  598.0825  601.34        596.1072   41338887
12 2024-12-27  597.540  597.7761  590.7647  595.01        589.8323   64969312
13 2024-12-30  587.890  591.7400  584.4100  588.22        583.1014   56578762
14 2024-12-31  589.905  590.6399  584.4200  586.08        580.9800   57052648
15 2025-01-02  589.390  591.1300  580.5000  584.64        579.5526   50203980
16 2025-01-03  587.530  592.6000  586.4300  591.95        586.7989   37888461
17 2025-01-06  596.270  599.7000  593.6000  595.36        590.1793   47679441
18 2025-01-07  597.420  597.7500  586.7800  588.63        583.5078   60393047
19 2025-01-08  588.700  590.5799  585.1950  589.49        584.3603   47304672

In [65]:
dfM = df.copy()

In [118]:
df = dfM.copy()
df = df.reset_index(drop=True)

print(len(df))

# Generate 25 random indices
rand = np.random.choice(df.index, 25, replace=False)

print(rand)

# Drop the rows at these indices
df = df.drop(rand)

print(len(df))

491
[ 38  31 158 290 368 216 478 281 364  91 190  10 160 175  23 154 114 266
 487 461 413 434 197 153 422]
466

In [146]:
# remove duplicates
df = dfM.copy()
print(len(df))

df.dropna

df = df.groupby("date").head(1)

df = df.drop("warning", axis=1)

print(len(df))

df = df.sort_values(['date'])

print(df)

491
250
          date    open      high     low   close  adjusted_close    volume
0   2024-12-10  605.37  605.8000  602.13  602.80        595.5501  37234520
1   2024-12-11  605.78  608.4350  605.50  607.46        600.1541  28677721
2   2024-12-12  606.58  607.1600  604.33  604.33        597.0617  31543811
3   2024-12-13  606.40  607.1300  602.81  604.21        596.9431  35904727
4   2024-12-16  606.00  607.7795  605.21  606.79        599.4921  43695180
..         ...     ...       ...     ...     ...             ...       ...
230 2025-12-03  680.57  684.9100  679.69  683.89        683.8900  57238480
231 2025-12-04  685.30  685.3700  681.34  684.39        684.3900  61970340
232 2025-12-05  685.47  688.3900  684.58  685.69        685.6900  79241047
233 2025-12-08  686.59  686.6400  681.57  683.63        683.6300  55231461
234 2025-12-09  683.15  685.3850  682.59  683.04        683.0400  58310055

[250 rows x 7 columns]

In [163]:
# find the missing rows in the df



# itterative go and check each row and make sure day is increateming by one and month/yr exceptions


# Create a df of rows with dates and merge the rows 

startDate = df["date"].min()

endDate = df["date"].max()

dfD = pd.DataFrame(
    { 'date': pd.date_range(start=startDate, end=endDate, freq='D')
    }
)

dfD


df = df.merge(dfD, on='date', how='right')


df.isnull().sum()


df

          date    open     high     low   close  adjusted_close      volume
0   2024-12-10  605.37  605.800  602.13  602.80        595.5501  37234520.0
1   2024-12-11  605.78  608.435  605.50  607.46        600.1541  28677721.0
2   2024-12-12  606.58  607.160  604.33  604.33        597.0617  31543811.0
3   2024-12-13  606.40  607.130  602.81  604.21        596.9431  35904727.0
4   2024-12-14     NaN      NaN     NaN     NaN             NaN         NaN
..         ...     ...      ...     ...     ...             ...         ...
360 2025-12-05  685.47  688.390  684.58  685.69        685.6900  79241047.0
361 2025-12-06     NaN      NaN     NaN     NaN             NaN         NaN
362 2025-12-07     NaN      NaN     NaN     NaN             NaN         NaN
363 2025-12-08  686.59  686.640  681.57  683.63        683.6300  55231461.0
364 2025-12-09  683.15  685.385  682.59  683.04        683.0400  58310055.0

[365 rows x 7 columns]

In [ ]:
# # all the rows that have a immdiant neigbhor near by both before and after we can you the averge of the day-1 close + day+1 average

# # first we need to identify those rows with missing data that have neighbors on both sides
# df['close_filled'] = df['close']
# for i in range(1, len(df)-1):
#     if pd.isnull(df.loc[i, 'close']):
#         if not pd.isnull(df.loc[i-1, 'close']) and not pd.isnull(df.loc[i+1, 'close']):
#             df.loc[i, 'close_filled'] = (df.loc[i-1, 'close'] + df.loc[i+1, 'close']) / 2

# df

# df['close'] = df['close_filled']
# df = df.drop('close_filled', axis=1)
# df

# df.isnull().sum()

# df = df.sort_values(['date'])
# df = df.reset_index(drop=True)
# df
# df['date'] = pd.to_datetime(df['date'])

# # make a linear regression model

# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression
# from sklearn.metrics import mean_squared_error
# from sklearn.preprocessing import OneHotEncoder
# from sklearn.compose import ColumnTransformer
# from sklearn.pipeline import Pipeline
# # Extract date features
# df['day'] = df['date'].dt.day
# df['month'] = df['date'].dt.month
# df['year'] = df['date'].dt.year

# X = df[['day', 'month', 'year']]
# y = df['close']

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# model = LinearRegression()
# model.fit(X_train, y_train)

# y_pred = model.predict(X_test)
# mse = mean_squared_error(y_test, y_pred)
# print(f'Mean Squared Error: {mse}')
# print(df)

In [ ]:
# make a linear regression model